<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <CitrusPay_Moto>
            <version>0.1.0</version>
        </CitrusPay_Moto>
    </modules>
    <global>
        <models>
            <moto>
                <class>CitrusPay_Moto_Model</class>
            </moto>
        </models>
        <blocks>
            <moto>
                <class>CitrusPay_Moto_Block</class>
            </moto>
        </blocks>
        <resources>
            <moto_setup>
                <setup>
                    <module>CitrusPay_Moto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moto_setup>
            <moto_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </moto_write>
            <moto_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </moto_read>
        </resources>
    </global>
    <frontend>
		<routers>
			<moto>
				<use>standard</use>
				<args>
					<module>CitrusPay_Moto</module>
					<frontName>moto</frontName>
				</args>
			</moto>
		</routers>
		<layout>
			<updates>
				<moto>
					<file>moto.xml</file>
				</moto>
			</updates>
		</layout>
	</frontend>
    <default>
        <payment>
            <moto>
                <active>0</active>
                <model>moto/paymentLogic</model>
                <order_status>pending</order_status>
                <title>CitrusPay</title>
                <cctypes>AE,VI,MC,DI,SS</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </moto>
        </payment>
    </default>
</config>